@import "_variable.scss";
@import "_mixin.scss";

body {background: #000000;}

.c_red {color: #dc3545 !important;}
.c_blue {color: #0b5ed7 !important;}
.c_gray {color: #cccccc !important;}

.btn {display: inline-flex; max-width: 100%; border: 2px solid; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-appearance: none; cursor: pointer; text-align: center; transition: border-color 150ms, background 150ms, color 150ms; white-space: nowrap;
  &.c1 {border-color: #0d6efd; background: #0d6efd; color: #ffffff;
    &:not(:disabled):focus,
    &:not(:disabled):hover {border-color: #0b5ed7; background: #0b5ed7;}
  }
  &.e1 {border-color: #8799ab; color: #000000;
    &:not(:disabled):focus,
    &:not(:disabled):hover {border-color: #fbb400; color: #fbb400;}
  }
  &:disabled {border-color: #cccccc; background: #cccccc; color: #ffffff; cursor: default;}

  &.l {height: 60px; padding: 0 20px; font-size: 20px; line-height: 56px;}

@media screen and (max-width: 768px) {
  &.l {height: 40px; padding: 0 15px; font-size: 16px; line-height: 36px;}
}

}

.txt_btn {font-size: 12px; text-decoration: underline;}

/* Tab */
.tab_style_1 {display: flex;
  button {height: 40px; padding: 0 30px; white-space: nowrap;
    &.on {border-bottom: 2px solid #0d6efd; color: #0d6efd;}
  }
}

.tab_style_2 {display: flex;
  button {height: 40px; padding: 0 30px; border: 1px solid #0d6efd; white-space: nowrap;
    &:not(:first-child) {margin-left: -1px;}
    &.on {background: #0d6efd; color: #ffffff;}
  }
}

.form_area {
  .form_row {
    &:not(:first-child) {margin-top: 15px;}

    &.invalid {
      @include input_type_text {
        &:focus {border-color: rgba(254, 134, 183, 1); box-shadow: 0 0 0 0.25rem rgba(253, 13, 110, 0.25);}
      }
      .form_notice {margin-top: 5px; font-size: 12px; color: #dc3545;}
    }
  }
  .form_head {
    .form_label {font-size: 14px; color: #000000;}
  }
  .form_body {margin-top: 5px;}
  .form_notice {margin-top: 5px; font-size: 12px; color: #999999;}
}

/* Pagination */
.pagination {display: flex; justify-content: center; margin-top: 50px;
  .navi {display: flex;
    a, button {display: block; width: 30px; height: 30px; padding: 5px;
      &:hover, &:focus {color: #26a1ff;}
    }
    i {font-size: 20px; line-height: 1;}
  }
  .pages {display: flex; padding: 0 10px;
    a, button {display: block; width: 30px; height: 30px; text-align: center; line-height: 30px;
      &:hover, &:focus {color: #26a1ff;}
      &.on {font-weight: 700; color: #26a1ff; text-decoration: underline;}
    }
  }
}

.board_search {position: relative;
  input[type=search] {padding-right: 40px;}
  .btn_search {position: absolute; top: 0; right: 0; width: 40px; height: 40px; border-radius: 3px; transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    &:hover {color: #26a1ff;}
    .material-icons {font-size: 21px;}
  }
}

.board_list_01 {
  ul {
    li {border-bottom: 2px solid #f9f9f9;
      &:first-child {border-top: 2px solid #f9f9f9;}

      a {display: block; position: relative; padding: 10px 10px 10px 104px;
        &:hover {background: #f9f9f9;}
        .num {position: absolute; top: 10px; left: 0; width: 104px; text-align: center; font-size: 14px; line-height: 24px; color: #000000;}
        .tit {font-weight: 700; font-size: 16px; line-height: 24px; color: #000000; overflow: hidden; white-space: nowrap; word-break: break-all; text-overflow: ellipsis;}
        .info {display: flex; flex-wrap: wrap; margin-top: 5px; font-size: 14px; color: #707070;
          > div {white-space: nowrap;
            &:not(:first-child):before {display: inline-block; content: '·'; margin: 0 5px; color: #000000;}
          }
        }
      }
    }
  }
}

.board_empty {display: flex; justify-content: center; align-items: center; height: 100px; color: #707070;}

.board_detail {
  .board_head {padding: 20px 10px; border-bottom: 2px solid #f9f9f9;
    .board_tit {font-weight: 700; font-size: 20px; color: #000000;}
    .board_info {display: flex; flex-wrap: wrap; margin-top: 30px; font-size: 14px; color: #707070;
      > div {white-space: nowrap;}
      > div:not(:first-child):before {display: inline-block; content: '·'; margin: 0 5px; color: #000000;}
    }
  }
  .board_body {min-height: 200px; padding: 20px 10px; border-bottom: 2px solid #f9f9f9; white-space: pre-wrap;}
}