@charset "utf-8";
@import "_variable.scss";
@import "_mixin.scss";

/////////////////////////////////////////////////////////////////////
//////////////////// 이 파일은 수정 금지 입니다. ////////////////////
/////////////////////////////////////////////////////////////////////

// ::-moz-selection {background: #000000; color: #ffffff}
// ::selection {background: #000000; color: #ffffff}

* {box-sizing: border-box; margin: 0; padding: 0; font-family: inherit; font-style: normal; font-weight: inherit; font-size: inherit; line-height: inherit; text-decoration: inherit; color: inherit; vertical-align: top; outline: none; text-underline-position: under;
  &:before,
  &:after {box-sizing: border-box; margin: 0; padding: 0; font-family: inherit; font-style: normal; font-weight: inherit; font-size: inherit; line-height: inherit; text-decoration: inherit; color: inherit; vertical-align: top; outline: none; text-underline-position: under;}
}

html {overflow-y: scroll;}
body {font-family: 'Noto Sans KR', '맑은 고딕', serif; font-weight: 400; font-size: 14px; line-height: 1.5; color: #000000;}
svg {font-family: 'Noto Sans KR', '맑은 고딕', serif;}

ol, ul {list-style: none;}
blockquote,
q {quotes: none;}
blockquote:before,
blockquote:after,
q:before,
q:after {content: ''; content: none;}

table {width: 100%; border-spacing: 0; table-layout: fixed;}
th, td {text-align: center; vertical-align: middle;}

.material-icons {font-size: inherit; line-height: inherit;}

@include input_type_button {border: none; border-radius: 0; background: none; cursor: pointer; appearance: none; box-shadow: none;}

@include input_type_text {display: inline-block; width: 100%; height: 40px; font-size: 14px; line-height: 38px; padding: 0 10px; border: 1px solid #cccccc; border-radius: 3px; background: #ffffff; box-shadow: none; transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out; appearance: none; -webkit-appearance: none;
  &:not(:read-only):focus {border-color: rgba(134, 183, 254, 1); box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);}
  &.err:not(:read-only):focus {border-color: rgba(254, 134, 183, 1); box-shadow: 0 0 0 0.25rem rgba(253, 13, 110, 0.25);}
  &:disabled {background: #f7f7f7;}
  @include placeholder {color: #999999;}
}

select {background: url(/images/common/select.svg) no-repeat right 5px center #ffffff;
  -webkit-appearance: none;
  -moz-appearance: none; 
  appearance: none;

  &::-ms-expand {display:none;}
}

textarea {height: 300px; padding: 10px; font-size: 14px; line-height: 28px;}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {appearance: none;}

a, button {
  &:hover, &:focus {text-decoration: none;}
}

.page-enter-active,
.page-leave-active {transition: all 200ms;}
.page-enter,
.page-leave-active {opacity: 0; transform: translateY(15px);}

.fade1-enter-active,
.fade1-leave-active {transition: all 2000ms;}
.fade1-enter,
.fade1-leave-active {opacity: 0;}

.hide {visibility: hidden; overflow: hidden; position: absolute; left: -9999em; top: -9999em; width: 0px; height: 0px; border: none; background: none; font-size: 0px; line-height: 0px; opacity: 0;}
@media screen and (max-width: 768px) {
  .hide_m {display: none;}
}

/* Flex */
.flex_area {display: flex;}

.ff_rr {flex-flow: row-reverse;}

.jc_c {justify-content: center !important;}
.jc_sb {justify-content: space-between !important;}

.ai_c {align-items: center !important;}

/* Align */
.ta_l {text-align: left !important;}
.ta_r {text-align: right !important;}
.ta_c {text-align: center !important;}

/* Float */
.fl_l {float: left !important;}
.fl_r {float: right !important;}

/* Text */
.td_u {text-decoration: underline !important;}

/* Padding, Margin, FontSize, LineHeight */
@for $i from 0 through 40 {
  .fz#{$i+10} {font-size: #{$i+10}px !important;}
  .lh#{$i+10} {line-height: #{$i+10}px !important;}

  .w#{$i*5} {width: #{$i*5}px !important;}
  .h#{$i*5} {width: #{$i*5}px !important;}

  .pt#{$i*5} {padding-top: #{$i*5}px !important;}
  .pr#{$i*5} {padding-right: #{$i*5}px !important;}
  .pb#{$i*5} {padding-bottom: #{$i*5}px !important;}
  .pl#{$i*5} {padding-left: #{$i*5}px !important;}

  .mt#{$i*5} {margin-top: #{$i*5}px !important;}
  .mr#{$i*5} {margin-right: #{$i*5}px !important;}
  .mb#{$i*5} {margin-bottom: #{$i*5}px !important;}
  .ml#{$i*5} {margin-left: #{$i*5}px !important;}
}

@media screen and (max-width: 768px) {
  @for $i from 0 through 20 {
    .fz#{$i+10}_m {font-size: #{$i+10}px !important;}
    .lh#{$i+10}_m {line-height: #{$i+10}px !important;}

    .w#{$i*5}_m {width: #{$i*5}px !important;}
    .h#{$i*5}_m {width: #{$i*5}px !important;}
  
    .pt#{$i*5}_m {padding-top: #{$i*5}px !important;}
    .pr#{$i*5}_m {padding-right: #{$i*5}px !important;}
    .pb#{$i*5}_m {padding-bottom: #{$i*5}px !important;}
    .pl#{$i*5}_m {padding-left: #{$i*5}px !important;}

    .mt#{$i*5}_m {margin-top: #{$i*5}px !important;}
    .mr#{$i*5}_m {margin-right: #{$i*5}px !important;}
    .mb#{$i*5}_m {margin-bottom: #{$i*5}px !important;}
    .ml#{$i*5}_m {margin-left: #{$i*5}px !important;}
  }
}

/* Motion */
._motion {opacity: 0; transform: translateY(50px); transition: opacity 700ms ease-out, transform 700ms ease-out;
  &.r {transform: translateX(50px);}
  &.l {transform: translateX(-50px);}
  @for $i from 1 through 40 {
    &._d#{$i*50} {transition-delay: #{$i*50}ms;}
  }
  &._loaded {opacity: 1; transform: translate(0);}
}

@media screen and (max-width: 768px) {
	._motion {transition-delay: 0ms !important;}
}

/* Checkbox */
.checkbox {display: inline-block; position: relative;
  input {position: absolute; top: 0; left: 0; z-index: 1; width: 1px; height: 1px; opacity: 0;
    & + span {display: block; position: relative; padding-left: 40px; line-height: 40px;
      &:before {display: block; content: ''; position: absolute; top: 0; left: 0; width: 40px; height: 40px; border-radius: 50%; transition: background 300ms;}
      &:after {display: block; font-family: 'Material Icons'; content: 'check_box_outline_blank'; position: absolute; top: 7px; left: 7px; width: 26px; height: 26px; color: #000000; font-size: 26px; line-height: 1;}
    }
    &:checked + span:after {content: 'check_box';}
    &:disabled + span:after {color: #cccccc;}
    &:not(:disabled) {
      & + span,
      & + span:before,
      & + span:after {cursor: pointer;}
      &:hover + span:before {background: #f1f1f1;}
    }
  }
}

/* Radio */
.radio {display: inline-block; position: relative;
  input {position: absolute; top: 0; left: 0; z-index: 1; width: 1px; height: 1px; opacity: 0;
    & + span {display: block; position: relative; padding-left: 40px; line-height: 40px;
      &:before {display: block; content: ''; position: absolute; top: 0; left: 0; width: 40px; height: 40px; border-radius: 50%; transition: background 300ms;}
      &:after {display: block; font-family: 'Material Icons'; content: 'radio_button_unchecked'; position: absolute; top: 9px; left: 9px; width: 22px; height: 22px; color: #000000; font-size: 22px; line-height: 1;}
    }
    &:checked + span:after {content: 'radio_button_checked';}
    &:disabled + span:after {color: #cccccc;}
    &:not(:disabled) {
      & + span,
      & + span:before,
      & + span:after {cursor: pointer;}
      &:hover + span:before {background: #f1f1f1;}
    }
  }
}

/* Swiper */
.swiper-outer {position: relative;}
.swiper-button-prev {font-family: 'Material Icons'; font-size: 40px; margin-top: -20px; left: 0;
  &:after {content:'navigate_before';}
}
.swiper-button-next {font-family: 'Material Icons'; font-size: 40px; margin-top: -20px; right: 0;
  &:after {content:'navigate_next';}
}
.swiper-pagination {font-size: 0;}
.swiper-pagination-bullets {right: 0; bottom: 10px; left: 0; width: 100%;}

.swiper-pagination-bullets .swiper-pagination-bullet {margin: 0 4px;}
.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {left: 50%; transform: translateX(-50%); white-space: nowrap;}
.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {transition: 200ms transform, 200ms left;}

/* Kronos */
.kronos-outer {display: inline-block; position: relative; width: 100%;
  &.kronos-open .kronos-inner {top: 48px; left: auto; z-index: 10;}
  &.kronos-visible .kronos-inner {position: relative; top: 5px; left: auto;}

  .kronos-cover {display: inline-block; position: relative; width: 100%;
    &:after {display: block; content: 'calendar_today'; font-family: 'Material Icons'; position: absolute; top: 11px; right: 10px; font-size: 18px; line-height: 1; text-align: center; color: #0d6efd;}
  }
  .kronos-inner {position: absolute; top: -9999em; left: -9999em; width: 249px; border-radius: 3px;}

  .kronos-date-outer {position: relative; top: 0; transform: scale(1); transform-origin: center 150px;}
  .kronos-date-inner {position: absolute; width: 100%; padding: 0 12px; vertical-align: top; transition: all 300ms; box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15); background: #ffffff;}

  .kronos-date-head {position: relative; height: 68px; padding: 19px 5px; text-align: center;
    .kronos-date-title {display: inline-block; position: relative; line-height: 30px; color: #000000;}
    .kronos-date-year {height: 30px; width: 80px; padding: 0 5px; font-size: 14px;}
    .kronos-date-month {height: 30px; width: 60px; margin-left: 5px; padding: 0 5px; font-size: 14px;}
    .kronos-date-prev {position: absolute; top: 22px; width: 24px; height: 24px; border: none; border-radius: 3px; cursor: pointer; left: 0;
      &:before {display: block; content: 'navigate_before'; font-family: 'Material Icons'; line-height: 1; font-size: 20px; color: #0d6efd;}
      &:hover {border: 1px solid #dddddd;}
    }
    .kronos-date-next {position: absolute; top: 22px; width: 24px; height: 24px; border: none; border-radius: 3px; cursor: pointer; right: 0;
      &:before {display: block; content: 'navigate_next'; font-family: 'Material Icons'; line-height: 1; font-size: 20px; color: #0d6efd;}
      &:hover {border: 1px solid #dddddd;}
    }
  }
  .kronos-date-body {padding: 0 0 12px;
    table {width: 100%; border-spacing: 0; table-layout: fixed;
      thead tr {
        th {height: 32px; font-size: 12px; color: #000000;}
      }
      tbody {
        td {text-align: center;
          button {display: inline-block; box-sizing: border-box; width: 100%; height: 32px; font-size: 12px; color: #000000; vertical-align: middle; text-align: center; cursor: pointer;}
          &.holiday button {color: #f00;}
          &.disabled button {background: #eeeeee; color: #999999; cursor: default !important;}
          &.today button {background: #f3b605; color: #ffffff;}
          &.period button {background: #c2dbfe; color: #ffffff;}
          &.selected button {background: #0d6efd; color: #ffffff;}
        }
      }
    }
  }
}

/* Sunrise */
html.sunrise-fixed {overflow: hidden;}
.sunrise-outer {position: fixed; top: -10vw; right: -10vw; bottom: -10vw; left: -10vw; padding: 10vw; z-index: 9998; background: rgba(0, 0, 0, 0); transform: translateZ(0);
  .sunrise-scrll {overflow-x: hidden; overflow-y: auto; position: relative; width: 100%; min-width: 360px; height: 100%;}
  .sunrise-inner {display: flex; flex-direction: row; position: relative; min-width: 100%; min-height: 100%;}
  .sunrise-scene {position: relative; margin: auto; padding: 15px; max-width: 100%;}
  .sunrise-frame {overflow: hidden; position: relative; background: #ffffff; max-width: 100%; box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16); transform: translateY(50px); opacity: 0;}

  &.sunrise-visible {background: rgba(0, 0, 0, 0.6); transition: background 200ms;
    .sunrise-frame {transform: translateY(0); opacity: 1; transition: transform 500ms, opacity 500ms;}
  }
}

/* CK Editor */
.ck-content .marker-yellow {background-color: var(--ck-highlight-marker-yellow);}
.ck-content .marker-green {background-color: var(--ck-highlight-marker-green);}
.ck-content .marker-pink {background-color: var(--ck-highlight-marker-pink);}
.ck-content .marker-blue {background-color: var(--ck-highlight-marker-blue);}
.ck-content .pen-red {color: var(--ck-highlight-pen-red); background-color: transparent;}
.ck-content .pen-green {color: var(--ck-highlight-pen-green); background-color: transparent;}
.ck-content .text-tiny {font-size: .7em;}
.ck-content .text-small {font-size: .85em;}
.ck-content .text-big {font-size: 1.4em;}
.ck-content .text-huge {font-size: 1.8em;}
.ck-content .image-style-side {float: right; margin-left: var(--ck-image-style-spacing); max-width: 50%;}
.ck-content .image-style-align-left {float: left; margin-right: var(--ck-image-style-spacing);}
.ck-content .image-style-align-center {margin-left: auto; margin-right: auto;}
.ck-content .image-style-align-right {float: right; margin-left: var(--ck-image-style-spacing);}
.ck-content .image {display: table; clear: both; text-align: center; margin: 1em auto;}
.ck-content .image img {display: block; margin: 0 auto; max-width: 100%; min-width: 50px;}
.ck-content .image > figcaption {display: table-caption; caption-side: bottom; word-break: break-word; color: hsl(0, 0%, 20%); background-color: hsl(0, 0%, 97%); padding: .6em; font-size: .75em; outline-offset: -1px;}
.ck-content .image.image_resized {max-width: 100%; display: block; box-sizing: border-box;}
.ck-content .image.image_resized img {width: 100%;}
.ck-content .image.image_resized > figcaption {display: block;}
.ck-content span[lang] {font-style: italic;}
.ck-content pre {padding: 1em; color: hsl(0, 0%, 20.8%); background: hsla(0, 0%, 78%, 0.3); border: 1px solid hsl(0, 0%, 77%); border-radius: 2px; text-align: left; direction: ltr; tab-size: 4; white-space: pre-wrap; font-style: normal; min-width: 200px;}
.ck-content pre code {background: unset; padding: 0; border-radius: 0;}
.ck-content hr {margin: 15px 0; height: 4px; background: hsl(0, 0%, 87%); border: 0;}
.ck-content .raw-html-embed {margin: 1em auto; min-width: 15em; font-style: normal;}
.ck-content blockquote {overflow: hidden; padding-right: 1.5em; padding-left: 1.5em; margin-left: 0; margin-right: 0; font-style: italic; border-left: solid 5px hsl(0, 0%, 80%);}
.ck-content[dir=rtl] blockquote {border-left: 0; border-right: solid 5px hsl(0, 0%, 80%);}
.ck-content code {background-color: hsla(0, 0%, 78%, 0.3); padding: .15em; border-radius: 2px;}
.ck-content .table {margin: 1em auto; display: table;}
.ck-content .table table {border-collapse: collapse; border-spacing: 0; width: 100%; height: 100%; border: 1px double hsl(0, 0%, 70%);}
.ck-content .table table td,
.ck-content .table table th {min-width: 2em; padding: .4em; border: 1px solid hsl(0, 0%, 75%);}
.ck-content .table table th {font-weight: bold; background: hsla(0, 0%, 0%, 5%);}
.ck-content[dir=rtl] .table th {text-align: right;}
.ck-content[dir=ltr] .table th {text-align: left;}
.ck-content .table > figcaption {display: table-caption; caption-side: top; word-break: break-word; text-align: center; color: var(--ck-color-table-caption-text); background-color: var(--ck-color-table-caption-background); padding: .6em; font-size: .75em; outline-offset: -1px;}
.ck-content .page-break {position: relative; clear: both; padding: 5px 0; display: flex; align-items: center; justify-content: center;}
.ck-content .page-break::after {content: ''; position: absolute; border-bottom: 2px dashed hsl(0, 0%, 77%); width: 100%;}
.ck-content .page-break__label {position: relative; z-index: 1; padding: .3em .6em; display: block; text-transform: uppercase; border: 1px solid hsl(0, 0%, 77%); border-radius: 2px; font-family: Helvetica, Arial, Tahoma, Verdana, Sans-Serif; font-size: 0.75em; font-weight: bold; color: hsl(0, 0%, 20%); background: hsl(0, 0%, 100%); box-shadow: 2px 2px 1px hsla(0, 0%, 0%, 0.15); -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;}
.ck-content .media {clear: both; margin: 1em 0; display: block; min-width: 15em;}
.ck-content .todo-list {list-style: none;}
.ck-content .todo-list li {margin-bottom: 5px;}
.ck-content .todo-list li .todo-list {margin-top: 5px;}
.ck-content .todo-list .todo-list__label > input {-webkit-appearance: none; display: inline-block; position: relative; width: var(--ck-todo-list-checkmark-size); height: var(--ck-todo-list-checkmark-size); vertical-align: middle; border: 0; left: -25px; margin-right: -15px; right: 0; margin-left: 0;}
.ck-content .todo-list .todo-list__label > input::before {display: block; position: absolute; box-sizing: border-box; content: ''; width: 100%; height: 100%; border: 1px solid hsl(0, 0%, 20%); border-radius: 2px; transition: 250ms ease-in-out box-shadow, 250ms ease-in-out background, 250ms ease-in-out border;}
.ck-content .todo-list .todo-list__label > input::after {display: block; position: absolute; box-sizing: content-box; pointer-events: none; content: ''; left: calc( var(--ck-todo-list-checkmark-size) / 3 ); top: calc( var(--ck-todo-list-checkmark-size) / 5.3 ); width: calc( var(--ck-todo-list-checkmark-size) / 5.3 ); height: calc( var(--ck-todo-list-checkmark-size) / 2.6 ); border-style: solid; border-color: transparent; border-width: 0 calc( var(--ck-todo-list-checkmark-size) / 8 ) calc( var(--ck-todo-list-checkmark-size) / 8 ) 0; transform: rotate(45deg);}
.ck-content .todo-list .todo-list__label > input[checked]::before {background: hsl(126, 64%, 41%); border-color: hsl(126, 64%, 41%);}
.ck-content .todo-list .todo-list__label > input[checked]::after {border-color: hsl(0, 0%, 100%);}
.ck-content .todo-list .todo-list__label .todo-list__label__description {vertical-align: middle;}
.ck-content .mention {background: var(--ck-color-mention-background); color: var(--ck-color-mention-text);}